.contactItem {
    border: 1px solid gray;
    margin: 15px 0 15px 15px;
    padding: 15px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border-radius: 5px;
    width: 300px;
}

h3.item {
    font-weight: 100;
}
