.NavigationItems {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.ContactAdd {
    background: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 15px;
}